<% provide(:title, "Página inicial") %>
<% avg = Array.new(4) %>
<% pic = Array.new(4) %>
<% max_row_size = 1 %>
<% for i in (0..3) do %>
  <% avg[i] = User.where(restaurant: i, exit: 1).average("time").to_i %>
  <% avg[0] = 31 %> <!-- manual set -->
  <% avg[1] = 13 %>
  <% avg[2] = 8 %>
  <% avg[3] = 4 %>
  <% if avg[i] < 5 then pic[i] = 1 %>
  <% elsif avg[i] <10 then pic[i] = 2 %>
  <% elsif avg[i] <20 then pic[i] = 3 %>
  <% elsif avg[i] <30 then pic[i] = 4 %>
  <% else pic[i] = 5 %>
  <% end %>
  <% if pic[i] > max_row_size then max_row_size = pic[i] %>
  <% end %>
<% end %>
<% min = max_row_size * 20 + 40 %>

<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px">

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    
    <div id="filas">
       <table id="vertical-1" class="center">
            <caption style="font-size:24px"><b>Estado das filas</b></caption>
            <tr>
                <th style="text-align:left;min-width:110px">Central</th>
                <td style="text-align:left;min-width:,<%= min %>px"><img src="/line_<%= pic[2] %>.jpg"></td>
                <td> <%= avg[2] %>min </td>
            </tr>
            <tr>
                <th style="text-align:left;min-width:110px">Física</th>
                <td style="text-align:left;min-width:<%= min %>px"><img src="/line_<%= pic[1] %>.jpg"></td>
                <td> <%= avg[1] %>min </td>
            </tr>
            <tr>
                <th style="text-align:left;min-width:110px">Química</th>
                <td style="text-align:left;min-width:<%= min %>px"><img src="/line_<%= pic[3] %>.jpg"></td>
                <td> <%= avg[3] %>min </td>
            </tr>
            <tr>
                <th style="text-align:left;min-width:110px">Prefeitura</th>
                <td style="text-align:left;min-width:<%= min %>px"><img src="/line_<%= pic[0] %>.jpg"></td>
                <td> <%= avg[0] %>min </td>
            </tr>
        </table>
    </div>
    <br>
    
    <div class="w3-quarter">
        <img src="/central.jpg" alt="Central" style="width:100%;height:200px">
        <a onclick="dropdown(1)" href="javascript:void(0)" class="w3-button" style="font-size:24px" id="droptitle1">
            <i class="fa fa-caret-right"></i> Central
        </a>
        <div id="dropmenu1" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-light-grey">
            <a href="restaurants/info/3" class="w3-bar-item w3-button w3-ripple">Entrar / Sair da fila</a>
            <a href="restaurants/3" class="w3-bar-item w3-button w3-ripple">Cardápio</a>
            <a href="restaurants" class="w3-bar-item w3-button w3-ripple">Outras informações</a>
        </div>
      <p>Comida em quantidade generosa, com qualidade constante.</p>
    </div>
    <div class="w3-quarter">
        <img src="/fisica.jpg" alt="fisica" style="width:100%;height:200px">
        <a onclick="dropdown(2)" href="javascript:void(0)" class="w3-button" style="font-size:24px" id="droptitle2">
            <i class="fa fa-caret-right"></i> Física
        </a>
        <div id="dropmenu2" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-light-grey">
            <a href="restaurants/info/2" class="w3-bar-item w3-button w3-ripple">Entrar / Sair da fila</a>
            <a href="restaurants/2" class="w3-bar-item w3-button w3-ripple">Cardápio</a>
            <a href="restaurants" class="w3-bar-item w3-button w3-ripple">Outras informações</a>
        </div>
      <p>Apertadasso, comida nem é tão boa.</p>
    </div>
    <div class="w3-quarter">
      <img src="/quimica.jpg" alt="quimica" style="width:100%;height:200px">
      <a onclick="dropdown(3)" href="javascript:void(0)" class="w3-button" style="font-size:24px" id="droptitle3">
          <i class="fa fa-caret-right"></i> Química
      </a>
      <div id="dropmenu3" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-light-grey">
          <a href="restaurants/info/4" class="w3-bar-item w3-button w3-ripple">Entrar / Sair da fila</a>
          <a href="restaurants/4" class="w3-bar-item w3-button w3-ripple">Cardápio</a>
          <a href="restaurants" class="w3-bar-item w3-button w3-ripple">Outras informações</a>
      </div>
      <p>Evite peixe e ovo.</p>
      <p>Coma a trufa do tiozinho.</p>
    </div>
    <div class="w3-quarter">
      <img src="/prefeitura.jpg" alt="Prefeitura" style="width:100%;height:200px">
      <a onclick="dropdown(4)" href="javascript:void(0)" class="w3-button" style="font-size:24px" id="droptitle4">
          <i class="fa fa-caret-right"></i> Prefeitura
      </a>
      <div id="dropmenu4" class="w3-bar-block w3-hide w3-padding-large w3-medium w3-light-grey">
          <a href="restaurants/info/1" class="w3-bar-item w3-button w3-ripple">Entrar / Sair da fila</a>
          <a href="restaurants/1" class="w3-bar-item w3-button w3-ripple">Cardápio</a>
          <a href="restaurants" class="w3-bar-item w3-button w3-ripple">Outras informações</a>
      </div>
      <p>Variedade de sucos, a melhor comida, a menor porção.</p>
    </div>
  </div>

  <hr id="about">
  <!-- About Section -->
  <div class="w3-container w3-padding-32 w3-center">
    <h3>Sobre nós, aspirantes a desenvolvedores</h3></h3><br>
    <img src="/developers.png" alt="Erro ao carregar foto" class="w3-image" style="display:block;margin:auto" width="400" height="80">
    <div class="w3-padding-32">
      <p>Esse site foi desenvolvido por alunos da graduação da Poli USP, como parte da disciplina Sistemas de Informação. O objetivo é ajudar os frequentadores dos amados bandejões a terem uma experiência melhor, esperando menos tempo nas filas.</p>
    </div>
  </div>
  <hr>

<!-- End page content -->
</div>